<script>
$(document).ready(function() {
	$('.contestantImage').on('click',function(){
		var url = $(this).attr('href');
		$('#profile').load(url);
		return false;
	});
	
	$('#countdown').countdown({ date: '17 January 2013 12:00:00'}, function() {
		$('#countdown').text('Campaign is over.')
	});
	
	$('#activate-tab-link').click(function (f){
		f.preventDefault();
		$('.tab2').tab('show').addClass('active');
	});
	
	$('#anchor-footer').click(function (s){
		s.preventDefault();
		$('html,body').animate({scrollTop:$('#footer-content').offset().top}, 1000);
	});
	
	$('#anchor-footer').click(function (y){
		y.preventDefault();
		FB.Canvas.getPageInfo(function(pageInfo){
			$({y: pageInfo.scrollTop}).animate(
			    {y: y},
			    {duration: 2000, step: function(offset){
			    	FB.Canvas.scrollTo(0, 650);
			     }
			});
		});
	});
});
</script>
<%# if user_likes_page? %>
<section id="main-container">
	<section id="main-header">
		<section id="logo"></section>
		<section id="countdown">
			<h1>FIAT EXPERIENCE COUNTDOWN</h1>
			<table class="table">
				<thead>
					<tr>
						<th><hr class="divider"><span class="desc">Days</span></th>
						<th><hr class="divider"><span class="desc">Hours</span></th>
						<th><hr class="divider"><span class="desc">Minutes</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span class="days digit">00</span></td>
						<td><span class="hours digit">00</span></td>
						<td><span class="mins digit">00</span></td>
					</tr>
				</tbody>
			</table><!--/table.table-->
		</section><!--/section#countdown-->
	</section><!--/section#main-header-->
	
	<section id="tabbed-nav">
		<ul class="tabs">
			<li class="tab1 active"><a href="#tab1" data-toggle="tab">THE EXPERIENCE</a></li>
			<li class="tab2"><a href="#tab2" data-toggle="tab">WIN FIAT SWAG</a></li>
			<li class="tab3"><a href="#tab3" data-toggle="tab">TAKE A SPIN</a></li>
		</ul><!--/ul.tabs-->
	</section><!--/section#tabbed-nav-->
	
	<div class="tab-content">
		<div id="tab1" class="tab-pane active">
			<section class="main-content" id="main-content-tab1">
				<div class="row">
					<div class="span5">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
					   	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
					   quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
					   consequat.</p>
					</div><!--/div.span5-->
					<div class="vote-btn-big">
						<%= link_to image_tag('vote-btn-big.png'), '#footer-content', id: 'anchor-footer' %>
					</div><!--/div.vote-btn-big-->
				</div><!--/div.row-->
			</section><!--/section.main-content-->
			<hr class="white">
			<section id="giveaway-block">
				<div class="row">
					<div id="swag-img" class="span3"></div>
					<div class="span4">
						<h2><a href="/#tab2" data-toggle="tab" id="activate-tab-link">CLICK for a<br/>CHANCE to WIN</a></h2>
						<h4>Awesome Prizes From Fiat!</h4>
					</div><!--/div.span4-->
					
				</div><!--/div.row-->
			</section><!--/section#giveaway-block-->
			
			<section id="footer-content">
				<div id="contestants">
					<% @contestants.each do |contestant| %>
						<%= link_to image_tag(contestant.image_url), contestant, class: 'contestantImage' %>
					<% end %>
				</div>
				
				<section class="tabbable">
					<ul class="nav nav-tabs">
						<li><h2>Current Leaderboard</h2></li>
					</ul><!--/ul.tabs-->
				
					<div class="tab-content">
						<div id="tab4" class="tab-pane active">
							<section class="footer-main">
								<div id="profile">
									<section class="profile-container">
										
									</section><!--/section.profile-container-->
								</div><!--/div#profile-->
						
								<div id="leaderboard">
									<% @contestants.each do |contestant| %>
										<div class="tracks">
											<div class="tracks-inner">
												<div class="car" 
													 style="position: relative; 
														    top: <%= contestant.car_position %>px; 
														    right: 5px;
														    text-align: center;">
												</div><!--/div.car-->
											</div><!--/div.tracks-inner-->
											<div class="vote-btn">
												<% if current_user == nil %>
													<%= link_to vote_text, "/auth/facebook" %>
												<% else %>
													<%= link_to vote_text, vote_contestant_path(contestant, value: 1), 
														method: "post" %>
												<% end %>
											</div><!--/div.vote-btn-->
										</div><!--/div.tracks-->
									<% end %>
								</div><!--/div#leaderboard-->
							</section><!--/section.footer-main-->
						</div><!--/div#tab4-->
					</div><!--/div.tab-content-->
				</section><!--/section.tabbable-->
				
				<section class="termsLink">
					<a href="#Modaltab1" role="button" data-toggle="modal">
						Carman Fiat Experience Promotion Rules &amp; Responsibilities
					</a>
					<!-- Modal -->
					<div class="modal hide fade in" id="Modaltab1" tabindex="-1" role="dialog" 
						 aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					    <h3 id="myModalLabel">Carman Fiat Experience Promotion</h3>
					  </div>
					  <div class="modal-body">
					    <p style="text-align: left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
						   eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 	
						   nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
						   dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
						   Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim 
						   id est laborum.</p>
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					  </div>
					</div>
				</section><!--/section.termsLink-->
			</section><!--/section#footer-content-->
		</div><!--/div#tab1.tab-pane-->
		
		<div id="tab2" class="tab-pane">
			<section class="main-content" id="main-content-tab2">
				<iframe id="form" src="/giveaway_entries/new"></iframe>
			</section><!--/section.main-content-->
			<hr class="white">
			<section class="mini-footer">
				<section class="termsLink">
					<a href="#Modaltab2" role="button" data-toggle="modal">
						Carman Fiat Experience Promotion Rules &amp; Responsibilities
					</a>
					<!-- Modal -->
					<div class="modal hide fade in" id="Modaltab2" tabindex="-1" role="dialog" 
						 aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					    <h3 id="myModalLabel">Carman Fiat Experience Promotion</h3>
					  </div>
					  <div class="modal-body">
					    <p style="text-align: left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
						   eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 	
						   nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
						   dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
						   Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim 
						   id est laborum.</p>
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					  </div>
					</div>
				</section>
			</section><!--/section.mini-footer-->
		</div><!--/div#tab2.tab-pane-->
			
		<div id="tab3" class="tab-pane">
			<section class="main-content" id="main-content-tab3">
				<iframe id="form" src="/test_drivers/new"></iframe>
			</section><!--/section.main-content-->
			<hr class="white">
			<section class="mini-footer">
				<section class="termsLink">
					<a href="#Modaltab3" role="button" data-toggle="modal">
						Carman Fiat Experience Promotion Rules &amp; Responsibilities
					</a>
					<!-- Modal -->
					<div class="modal hide fade in" id="Modaltab3" tabindex="-1" role="dialog" 
						 aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					    <h3 id="myModalLabel">Carman Fiat Experience Promotion</h3>
					  </div>
					  <div class="modal-body">
					    <p style="text-align: left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
						   eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 	
						   nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
						   dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
						   Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim 
						   id est laborum.</p>
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					  </div>
					</div>
				</section>
			</section><!--/section.mini-footer-->
		</div><!--/div#tab3.tab-pane-->
	</div><!--/div.tab-content-->
<%# else %>
	<section id="fangate">
	<%# fangate_image %>
	</section>
<%# end %>
</section>

