<section id="main-profile">
	<section class="profile-container">
		<%= image_tag(@contestant.profile_img, class: 'contestant-profile') %>
		<h1><%= @contestant.name %></h1>
		<p>Age:&nbsp;<%= @contestant.age %></p>
		<p>Vocation:&nbsp;<%= @contestant.vocation %></p>
		<p><strong>Current Vote Talley:&nbsp;</strong>
			<span class="vote-counter"><%= @contestant.votes %></span>
		</p>
		<hr class="profile">
		<p><%= @contestant.bio %></p>
		<ul>
			<li><%= link_to facebook_icon, @contestant.fb_link, target: '_blank' %></li>
			<li><%= link_to twitter_icon, @contestant.twitter_link, target: '_blank' %></li>
		</ul>
	</section><!--/section.profile-container-->
</section><!--/section#profile-container-->