<!DOCTYPE html>
<html>
<head>
  <title>FacebookApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>

<%= yield %>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({
    appId  : '213582692103701',
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true, // parse XFBML
    channelUrl : '<%= contestants_channel_url %>', // channel.html file
    oauth  : true // enable OAuth 2.0
  });
</script>
</body>
</html>
