<!DOCTYPE html>
<html>
<head>
  <title>Carman Fiat Experience</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script>
  $(document).ready(function() {
  	if (window.location.hash == '#_=_')window.location.hash = '';
  });
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root" style="display: none"></div>
  <script>
    window.fbAsyncInit = function() {
	  FB.init({
	    appId  : ENV['FACEBOOK_APP_ID'],
	    status : true, // check login status
	    cookie : true, // enable cookies to allow the server to access the session
	    xfbml  : true, // parse XFBML
	  });
	  // Additional initialization code here
	  FB.Canvas.setAutoGrow(true);
		
      };
	  // Load the SDK Asynchronously
	  (function(d){
	  	var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	    if (d.getElementById(id)) {return;}
	    js = d.createElement('script'); js.id = id; js.async = true;
	    js.src = "//connect.facebook.net/en_US/all.js";
	    ref.parentNode.insertBefore(js, ref);
	  }(document));
  </script>
<section id="wrapper">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	  <a class="close" data-dismiss="alert">×</a><!--/.close-->
	  <%= msg %>
    </div><!--/.alert.alert-'name'--> 
  <% end %>
  <%= yield %>
</section>
</body>
</html>
