<!DOCTYPE html>
<html>
<head>
  <title>FacebookApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script>
  $(document).ready(function() {
	$('.contestantImage').on('click',function(){
		var url = $(this).attr('href');
		$('#profile').load(url);
		return false;
	});
  	if (window.location.hash == '#_=_')window.location.hash = '';
  });
  </script>
  <%= csrf_meta_tags %>
</head>
<body onload="FB.Canvas.setSize({width: 810, height: 950})">
<section id="wrapper">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	  <a class="close" data-dismiss="alert">×</a><!--/.close-->
	  <%= msg %>
    </div><!--/.alert.alert-'name'--> 
    <% end %>
	<!--
	<div id="user_nav" class="pull-right">
	  <%# if current_user == nil%>
		  <%# link_to "Sign in with Facebook", "/auth/facebook", 
			 id: "sign_in", class: "btn btn-primary" %>
	  <%# else %>
	      Signed in as <strong><%# current_user.name %></strong>!
	      <%# link_to "Sign out", signout_path, id: "sign_out" %>
	    </div>
	  <%# end %>
	</div>
	-->
	<%= yield %>
</section>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({
    appId  : '213582692103701',
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true, // parse XFBML
  });
</script>
</body>
</html>
